---
layout: item.hbs
title: Body Copy
category: typography
tags: element
description: 'The <code> &lt;p&gt;</code> tag denotes simple paragraphs.'
---
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, Ut enim ad minim veniam.  Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>


```
<p>...</p>
<p>...</p>
```

