---
title: Button
description: The <code>&lt;button&gt;</code> tag is used to provide interaction with the site.  Buttons should be chosen over links when the act of clicking alters the state of the application rather than just navigating to another document or fragment.
layout: item.hbs
tags: element
---
<button>Button</button>
<button class=":hover">Button</button>
<button class=":active">Button</button>

```
<button>Button</button>
```

