---
layout: item.hbs
title: Triptych
tags: layout
description: 'Three columns with 2 equal width outer columns and one wider center column.'
---
<div class="l--triptych" sg-layout-container>
  <div class="l-primary" sg-layout-item>Primary</div>
</div>

<div class="l--triptych" sg-layout-container>
  <div class="l-primary" sg-layout-item>Primary</div>
  <div class="l-secondary" sg-layout-item>Secondary</div>
</div>

<div class="l--triptych" sg-layout-container>
  <div class="l-primary" sg-layout-item>Primary</div>
  <div class="l-secondary" sg-layout-item>Secondary</div>
  <div class="l-tertiary" sg-layout-item>Tertiary</div>
</div>

```
<div class="l--triptych">
  <div class="l-primary">...</div>
  <div class="l-secondary">...</div>
  <div class="l-tertiary">...</div>
</div>
```

