//
// Styleguide specific styles.
//
// It's recommended that all selectors be prefixed with 'sg-' to prevent
// namespace collisions with project related styles.  For the same reason, all
// dimensional values should have their initial context set in px to avoid
// unintended size changes.

//
// Settings
//

$clr-body: #333;
$clr-label: #999;
$clr-border: #ddd;

$ff-body: sans-serif;

//
// Partials
//

@import "partials/sg-hzmenu";

//
// Extends
//

%sg-type-base {
  color: $clr-body;
  font-family: $ff-body;

  a {
    color: #666;

    &:hover {
      color: #444;
    }
  }
}

//
// Layout
//

.sg-body {
  padding: 0;
}

.sg-constrain {
  max-width: 1200px;
  margin: 0 auto;
}

//
// Masthead
//

.sg-masthead {
  position: relative;
  z-index: 9999;
  @extend %sg-type-base;
  padding: 0 20px;
  border-bottom: 4px solid #333;
}

.sg-site-title {
  font-size: 14px;
  margin: 18px 0;
  float: left;
  white-space: nowrap;
}

.sg-site-client {
  font-size: 1em;
}

//
// Main
//

.sg-main {
  padding-left: 20px;
  padding-right: 20px;
}

//
// Footer
//

.sg-footer {
  @extend %sg-type-base;
  padding: 20px;
  font-size: 12px;
  clear: both;

  address {
    display: inline;
  }
}

//
// Items
//

.sg-item-header {
  margin-bottom: 42px;
  border-bottom: $clr-border 1px solid;
}

.sg-title {
  @extend %sg-type-base;
  letter-spacing: -.03em;
  font-size: 36px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.sg-subhead {
  @extend %sg-type-base;
  font-size: 24px;
  margin-bottom: 12px;
}

.sg-description {
  @extend %sg-type-base;
  font-size: 15px;
}

.sg-label {
  @extend %sg-type-base;
  font-size: 14px;
  margin-bottom: 42px;
  text-transform: uppercase;
  color: $clr-label;
}

//
// Usage
//

.sg-usage--compact {
  font-size: 12px;

  > dt,
  > dd {
    display: inline;
  }

  > dt {
    @extend .sg-label;
    font-size: 1em;
    font-weight: bold;
    margin-right: 6px;

    &:after {
      content: ":";
    }
  }

  > dd {
    margin-right: 24px;
    margin-left: 0;
  }
}

//
// Colors
//

.sg-color {
  display: inline-block;
  width: 140px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.sg-color-swatch {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.sg-color-info {
  @extend %sg-type-base;
  font-size: 12px;
}

.sg-color-label {
  float: left;
  clear: left;
  color: $clr-label;
  text-transform: uppercase;
  width: 3.25em;
}

.sg-color-def {
  float: left;
  margin: 0;
}

//
// fonts
//

.sg-font {
  margin-bottom: 60px;
}

.sg-font-size {
  @extend %sg-type-base;
  float: left;
  padding-top: 15px;
  font-size: 12px;
  font-weight: bold;
  color: $clr-label;
  width: 60px;
}

.sg-font-sample {
  padding-top: 12px;
  padding-left: 60px;
  margin-bottom: 36px;
  border-top: 1px solid $clr-border;
  margin-left: 0;
}

.sg-code {
  margin-top: 40px;
  padding: 0;
  font-size: 13px;
  overflow-x: scroll;

  code {
    margin: 0;
    white-space: pre;
  }
}

//
// Layouts
//

// Enable preview of empty layouts.
[sg-layout-container] {
  clear: both;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(black, .1);
  outline: rgba(black, .2) solid 1px;
  min-height: 200px;
}

[sg-layout-item] {
  background-color: rgba(blue, .1);
  outline: rgba(black, .2) solid 1px;
  min-height: 200px;
}

.sg-toc {
  > li {
    display: inline-block;
    vertical-align: top;
    width: 10em;
    margin: 12px;

    > a {
      font-weight: bold;
      text-transform: capitalize;
      font-size: 1.2em;
    }
  }
}

.sg-site-brand {
  text-align: center;
  margin: 1em auto;
  color: #333;
  font-weight: 600;
}
