// Block - Actions
// ----------
.block--actions {
  background-color: $red;
  border-radius: 4px;
}

.nav--actions {
  margin: 0;
  padding: 0;

  .nav-item {
    padding: 0 20px;

    &:before {
      content: none;
    }

    &:hover {
      background-color: $red-light;
    }

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    .nav-link {
      border-top: 1px solid $red-lighter;
    }

    &:first-child .nav-link {
      border: none;
    }
  }

  .nav-link {
    position: relative;
    display: block;
    color: $white;
    padding: rhythm(3, $fs-xs) 0;
    @include adjust-font-size-to($fs-xs);
    letter-spacing: .01em;
    text-transform: uppercase;
    opacity: .9;

    &:after {
      content: '\f105';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 18px;
      font-family: $ff-icon;
      font-size: 1.75em;
    }

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  .nav-link-action {
    @include adjust-font-size-to($fs-xl, 5, $fs-xs);
    display: block;
  }
}
