// BASE CLASS
// ----------

.block--signup {
  color: $blue-dark;
  background-color: $blue-light;
  @include magic-padding(20px);
  border-radius: 4px;

  > h2 {
    color: $white;
    border-bottom: 1px solid $blue-darker;
    padding-bottom: rhythm(2, $fs-h2);
  }

  label {
    color: $blue-lighter;
    text-transform: uppercase;
  }

  .form-required {
    color: $white;
  }

  .form-item {
    margin-bottom: rhythm(3)
  }

  input {
    @include border-box;
    width: 100%;
    @include adjust-font-size-to($fs-m);
    border: 1px solid $blue-darker;
    height: 42px;
    color: $gray;
    margin-bottom: 0;
  }

  .form-submit {
    background-color: $blue-dark;
    color: $white;
    text-transform: uppercase;
    background-image: none;
    border: none;
  }

  .link--more {
    color: $blue-dark;

    &:hover {
      color: $blue-darker;
    }
  }
}

