// Breadcrumbs
// ----------

#breadcrumb {
  background-color: $gray-lightest;
  @include box-shadow($gray-light 0 6px 6px -4px inset);
  @extend %container;
  @extend %container--full-bleed;

  > .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    font-size: 14px;
  }

  a {
    color: #595959;

    // Home Link
    &:first-child {
      display: inline-block;
      vertical-align: middle;
      margin-right: -.25em;
      @include image-replace-size(24px, 24px);
      @include image-replace-hide-text;
      background-color: red;
      background: inline-image('home.png');
    }

    // Make active links not look like links.
    &.active {
      cursor: normal;
      pointer-events: none;
      color: $gray;
    }
  }
}
