// Event - Full
// ----------

.node-event.view-mode-full {
  @include zen-grid-container;

  .node-stanford-video,
  .group-details,
  .field-name-field-feature-image {
    margin-bottom: rhythm(8);
  }

  .field-name-field-event-date,
  .field-name-field-location-address {
    margin-bottom: rhythm(2);
  }

  .field-name-field-location-name {
    margin-bottom: 0;
  }

  .field-name-field-location-address {
    margin-bottom: rhythm(4);
  }

  .field-name-field-event-date,
  .field-name-field-location-address,
  .field-name-field-event-type,
  .field-name-field-event-research-area {
    margin-bottom: rhythm(2, $fs-s);
  }

  @include breakpoint(768px) {
    .group-details {
      @include zen-grid-item(5, 1);
      padding-left: 0;
    }

    .field-name-field-feature-image {
      @include zen-grid-item(6, 1, right);
      padding-right: 0;
    }
  }

  .field-name-body {
    clear: both;
  }
}
