//
// @file
// Heading and title styles.
// ----------------------------------------------------------------------------

//
// Header
//

.header {
  @include breakpoint(max-width 660px) {
    #logo {
      display: table-cell;
      vertical-align: middle;
      width: 25px;
    }
  }

  #site-name {
    @include adjust-font-size-to(42px);
    text-transform: uppercase;

    > a {
      color: $red;
    }

    @include breakpoint(max-width 660px) {
      @include adjust-font-size-to($fs-l);
    }
  }
}

// Page titles
.page-title {
  margin-bottom: rhythm(4, $fs-xxxxl);
}

// Article title (non-full-display node titles )
.article-title {
  margin: 0 0 rhythm(1, $fs-xl);
  @include adjust-font-size-to($fs-xl, 3);
  font-family: $ff-heading;
  font-weight: bold;
}

// Block title
.block-title {
  @include adjust-font-size-to($fs-l);
  margin-bottom: rhythm(4, $fs-l);
  color: $clr-text;
  font-family: $ff-body;
  text-transform: uppercase;
}
