//
// @file
// Heading and title styles.
// ----------------------------------------------------------------------------

// Article list
.article-list {
  padding: 0;
  border-bottom: 1px solid $clr-border;
}

.article-item {
  @include leading-border(1px, 2);
  padding-bottom: rhythm(2);
  display: block;
  border-color: $clr-border;
}

.item-list ul li {
  margin: 0;
}

// No bullets
.no-bullets {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
    m

    &:before {
      content: "";
    }
  }
}

.list--events {
  padding: 0;

  > .list-item {
    @include magic-padding(30px);
    border-top: 1px solid $red;
    border-left: 1px solid $gray-lighter;
    margin: 0 0 30px;

    &:before {
      content: none;
    }

    @include breakpoint(980px, $no-query: ".lt-ie9") {
      @include border-box;
      display: inline-block;
      vertical-align: top;
      margin-right: 3%;
      margin-left: 0;
      width: 30%;
      min-height: 254px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.list--ruled {
  @extend .no-bullets;

  > .list-item {
    border-bottom: 1px solid $clr-border;
    @include magic-padding(rhythm(4) 0);
  }
}

// Removes the trailing border.
.list--ruled--inner {
  @extend .list--ruled;

  > .list-item {
    &:last-child {
      border-bottom: none;
    }
  }
}

// Caps the top list item.
.list--ruled--outer {
  @extend .list--ruled;

  > .list-item {
    &:first-child {
      border-top: 1px solid $clr-border;
    }
  }
}
