//
// @file
// Password form field styles.
// ----------------------------------------------------------------------------

// PASSWORD VALIDATION
.password-strength {
  @include adjust-font-size-to($fs-s);
  margin-top: rhythm(3, $fs-s);
  width: 17em;
  float: right;  // LTR
  font-family: $ff-sans;
}

.password-strength-title {
  display: inline;
}

.password-strength-text {
  float: right; // LTR
  font-weight: bold;
}

.password-indicator {
  height: rhythm(.5, $fs-s);
  background-color: $gray-white;

  > .indicator {
    height: 100%;
    width: 0;
    background-color: $gray;
  }
}

input.password-confirm,
input.password-field {
  width: 16em;
}

// Over-specified becuase the input also has .password-confirm.
div.password-confirm {
  @extend .password-strength;
  float: right;  // LTR
  visibility: hidden;
  width: 17em;
}

.password-suggestions {
  @include adjust-font-size-to($fs-xs);
  font-family: $ff-sans;
}

.confirm-parent,
.password-parent {
  clear: left; // LTR
  margin: 0;
  width: 36.3em;
}
