---
component: navbar
---
<div class="sg-nav">
  <h1 class="navbar-brand" href="{{relative page.dest "dest/index.html"}}">{{site.client}}</h1>
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="nav-collapse">collapse</button>
</div>
