---
component: navbar
---
<nav class="sg-nav">
  {{#each tags}}
  <h3 class="sg-nav-label">{{tag}}</h3>
  <ul class="sg-nav-list">
    {{#each pages}}
      <li class="sg-nav-list-item">
        <a href="{{basename}}.html" class="sg-nav-link">{{data.title}}</a>
      </li>
    {{/each}}
  </ul>
  {{/each}}
</nav>
