---
component: swatch
---
<div class="sg-color">
  <div class="sg-color-swatch" style="background-color: {{hex}}; height: 60px; width: 60px;"></div>
  <dl class="sg-color-info">
    <dt class="sg-color-label">Hex</dt>
    <dd class="sg-color-def">{{hex}}</dd>
    <dt class="sg-color-label">Sass</dt>
    <dd class="sg-color-def">{{sass}}</dd>
  </dl>
</div>
