//
// @file
// Variables for use throughout this compass project.
//-----------------------------------------------------------------------------

// IE Support
//-----------------------------------------------------------------------------
// Setting this to false will result in smaller output, but no support for ie6 hacks.
// $legacy-support-for-ie6: true; // Overrides default set in Support partial.

// Setting this to false will result in smaller output, but no support for ie7 hacks.
$legacy-support-for-ie7: true; // Overrides default set in Support partial.

//  Color.
//-----------------------------------------------------------------------------
$white:             #ffffff;
$black:             #000000;

$gray-white:        #f4f4f4;
$gray-white:        #f4f4f4;
$gray-lightest:     #e5e5e5;
$gray-lighter:      #c1c1c1;
$gray-light:        #bbbbbb;
$gray:              #959595;
$gray-dark:         #595959;
$gray-darker:       #2e2d29;
$gray-darkest:      #2e2d29;
$gray-black:        #141414;

$red-lighter:       #ad0000;
$red-light:         mix(#ad0000, #8c1515);
$red:               #8c1515;

$orange:            #f27b25;

$green:             #9cc524;
$green-dark:        #8cbc1a;

$blue-lighter:      #a6e4ff;
$blue-light:        #0098db;
$blue:              #006c9c;
$blue-dark:         #0062a5;
$blue-darker:       #004361;

$sand:              #cc9966;

// Semantic color.
//----------------------------------------------------------------------------
$clr-neutral:      $gray-lighter;      // Default nuetral color
$clr-text:         $gray;     // Default body copy color
$clr-link:         $blue-light;     // Default link color
$clr-accent:       $blue;     // Default accent color
$clr-border:       $gray-lighter;    // Default border and required color
$clr-status:       $green-dark;      // Default status color
$clr-warning:      $orange;          // Default warning color
$clr-error:        $red;             // Default error and required color
$clr-table-border: $gray-lighter;      // Default table border color
$clr-table-odd:    $gray-white;      // Default table odd row color
$clr-table-even:   transparent;      // Default table even row color

// Typefaces.
//----------------------------------------------------------------------------
$ff-mono:  Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", Courier, monospace;;
$ff-sans:  'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-serif: Georgia, serif;
$ff-icon: FontAwesome;

// Semantic fonts.
//----------------------------------------------------------------------------
$ff-body:    $ff-sans;
$ff-heading: $ff-sans;
$ff-display: $ff-heading;

// Font size.
//----------------------------------------------------------------------------
$fs-xxs:     13px;
$fs-xs:      13px;
$fs-s:       16px;
$fs-m:       18px;
$fs-l:       20px;
$fs-xl:      24px;
$fs-xxl:     26px;
$fs-xxxl:    30px;
$fs-xxxxl:   42px;
$fs-xxxxxl:  60px;

// Semantic font size.
//----------------------------------------------------------------------------
$fs-h1: $fs-xxxxxl !default;
$fs-h2: $fs-xxl !default;
$fs-h3: $fs-xxl !default;
$fs-h4: $fs-m !default;
$fs-h5: $fs-s !default;
$fs-h6: $fs-xxs !default;

// Indentation.
//----------------------------------------------------------------------------
$indent-amount: 1em !default;

// Vertical rhythm.
//----------------------------------------------------------------------------
$base-font-size:    $fs-m;       // Font-size of your body copy.
$base-line-height:  6px;         // Setting the base-line-height half.
                                 // the height of the desired body copy.
                                 // line-height helps prevent sparse.
                                 // leading at different font-sizes.

// Layout
//----------------------------------------------------------------------------
// Grid.
$zen-column-count: 12;
$zen-gutter-width: 24px;
$box-sizing-polyfill-path: "/sites/all/themes/prototype/polyfills/boxsizing.htc";

// Breakpoint.
$mobile: 480px;
$mobile-wide: 600px;
$tablet: 768px;
$tablet-wide: 992px;
$desktop: 1080px;
$desktop-wide: 1382px;

// Width.
$w-full: 1104px;
$w-content: 620px;
$w-sidebar: 320px;
$w-sidebar-first: 320px;
$w-gutter: $zen-gutter-width;
$w-gutter-half: $zen-gutter-width / 2;

// Transition.
//----------------------------------------------------------------------------
$default-transition-duration: .15s;

// Text shadow.
//----------------------------------------------------------------------------
$default-text-shadow-color: rgba($gray-dark, .6);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;

// Border radius.
//----------------------------------------------------------------------------
$radius-s: .25em;
$radius-m: .5em;
$radius-l: 50%;

// Button settings.
//----------------------------------------------------------------------------
$clr-btn--primary:   $gray;
$clr-btn--secondary: $gray-dark;
$clr-btn--tertiary:  $gray-lighter;
$btn-style: 'none';
$btn-highlight-strength: .5;
$btn-shadow-strength: .5;
