.sg-nav {
  float: left;
  width: 30%;
  margin-right: -100%;
}

.sg-main {
  float: left;
  width: 75%;
  margin-left: 25%;
  padding: 0 24px;
}

.sg-footer {
  font-size: .825em;
  text-align: center;
  clear: both;

  address {
    display: inline;
  }
}

//
// Colors
//

.sg-color {
  display: inline-block;
  width: 120px;
}

.sg-color-info {
  font-size: .75em;
}

//
// Layouts
//

// Enable preview of empty layouts.
[sg-layout-container] {
  clear: both;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(black, .1);
  outline: rgba(black, .2) solid 1px;
  min-height: 200px;
}

[sg-layout-item] {
  background-color: rgba(blue, .1);
  outline: rgba(black, .2) solid 1px;
  min-height: 200px;
}
