---
layout: item.hbs
title: 'Block - Callout'
category: 'Block'
tags: component
description: 'Callout blocks.'
showcode: true
---
<div id="block-bean-home-education" class="block--callout clearfix block block-bean">
  <h2>Education</h2>
  <div class="content"> <div about="/biox/block/home-education" typeof="" class="ds-1col entity entity-bean bean-bio-x-block view-mode-default clearfix">
    <div class="field field-name-field-block-image field-type-image field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <img typeof="foaf:Image" src="https://sites.stanford.edu/biox/sites/default/files/styles/callout/public/education-img_4265_0.jpg" width="270" height="270" alt=""></div>
        </div>
      </div>
      <div class="field field-name-field-block-description field-type-text-long field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <p>We provide the tools and resources to conduct research that impacts the scientific community.</p>
          </div>
        </div>
      </div>
      <div class="field field-name-field-external-url field-type-link-field field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <a href="https://sites.stanford.edu/biox/video/innovation">Watch Video</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
