---
layout: item.hbs
title: 'Block - Contact Info'
category: 'Block'
tags: component
description: 'Site contact information.'
showcode: true
---
<div class="clearfix block block-bean block--contact-info" id="block-bean-bio-x-contact-information">
  <h2>Stanford University Bio-X</h2>
  <div class="content">
    <div class="ds-1col entity entity-bean bean-bio-x-block view-mode-default clearfix" typeof="" about="/biox/block/bio-x-contact-information">
      <div class="field field-name-field-block-description field-type-text-long field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <span class="contact-place">James H. Clark Center</span> <span class="contact-address">318 Campus Drive Stanford, CA 94305</span> <span class="contact-phone"><strong class="contact-label">Phone:</strong> 650.725.7882</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
