---
layout: item.hbs
title: 'Block - Sign Up'
category: 'Blocks'
tags: component
description: 'Newsletter signup block'
showcode: true
---
<div class="clearfix block block-webform block--signup" id="block-webform-client-block-119">
  <h2>Sign Up to Receive News &amp; Events</h2>
  <div class="content">
    <div class="ds-1col node node-webform view-mode-full clearfix" typeof="sioc:Item foaf:Document" about="/biox/sign-receive-news-events">
      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
          <div property="content:encoded" class="field-item even">Our newsletters are sent out monthly and provide you with updates to the Bio-X program.</div>
        </div>
      </div>
      <form accept-charset="UTF-8" id="webform-client-form-119" method="post" action="/biox/sign-receive-news-events" enctype="multipart/form-data" class="webform-client-form">
        <div>
          <div id="webform-component-email" class="form-item webform-component webform-component-email">
            <label for="edit-submitted-email">Email <span title="This field is required." class="form-required">*</span>
            </label>
            <input type="email" size="60" name="submitted[email]" id="edit-submitted-email" class="email form-text form-email required">
          </div>
          <input type="hidden" value="" name="details[sid]">
          <input type="hidden" value="1" name="details[page_num]">
          <input type="hidden" value="1" name="details[page_count]">
          <input type="hidden" value="0" name="details[finished]">
          <input type="hidden" value="form-uEJhcuBGk8-7h7AIVYc1XlV5a4bhMvntcq4sf9k2weE" name="form_build_id">
          <input type="hidden" value="webform_client_form_119" name="form_id">
          <div id="edit-actions" class="form-actions form-wrapper">
            <input type="submit" class="form-submit" value="Submit" name="op" id="edit-submit">
          </div>
        </div>
      </form>
      <div class="field field-name-field-external-link field-type-link-field field-label-hidden">
        <div class="field-items">
          <div class="field-item even"><a class="link--more" href="/biox/get-involved/corporations/corporate-forum-newsletter-archive">Past Newsletters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
