---
layout: item.hbs
title: 'Block - Callout Small'
category: 'Block'
tags: component
description: 'Callout blocks.'
showcode: true
---
<div class="clearfix block block-bean block--callout--small" id="block-bean-faculty">
  <h2>Faculty</h2>
  <div class="content">
    <div class="ds-1col entity entity-bean bean-bio-x-block view-mode-default clearfix" typeof="" about="/biox/block/faculty">
      <div class="field field-name-field-block-image">
        <img width="270" height="270" alt="" src="https://sites.stanford.edu/biox/sites/default/files/styles/callout/public/faculty_block_big.jpg" typeof="foaf:Image">
      </div>
      <div class="field field-name-field-block-description field-type-text-long field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <ul>
              <li>Become an affiliate!</li>
              <li>Apply for grants!</li>
              <li>Teach a course!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
