---
layout: item.hbs
title: 'Block - Actions'
category: 'Blocks'
tags: component
description: 'Actions block'
showcode: true
---
<div class="clearfix block block-bean block--actions" id="block-bean-home-get-involved">
  <div class="content">
   <div class="ds-1col entity entity-bean bean-bio-x-block view-mode-default clearfix" typeof="" about="/biox/block/home-get-involved">
    <div class="field field-name-field-block-description field-type-text-long field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <ul class="nav--actions">
            <li class="nav-item">
              <a class="nav-link" href="">
                <strong class="nav-link-action">Attend</strong> seminars &amp; workshops</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><strong class="nav-link-action">Apply</strong> for grants &amp; fellowships</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><strong class="nav-link-action">Support</strong> our programs</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
