---
layout: item.hbs
title: 'Block - Pitch'
category: 'Block'
tags: component
description: 'Elevator pitches'
showcode: true
---
<div id="block-bean-learn-more-home-page" class="clearfix block block-bean block--pitch contextual-links-region">
  <div class="content">
    <div about="/biox/block/learn-more-home-page" typeof="" class="ds-1col entity entity-bean bean-bio-x-block view-mode-default clearfix">
      <div class="field field-name-field-block-description field-type-text-long field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <p>Bio-X combines faculty from a broad range of scientific and engineering disciplines by giving them the tools they need to succeed. Learn More.</p>
          </div>
        </div>
      </div>
      <div class="field field-name-field-external-url field-type-link-field field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <a href="/biox/biox"> Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
