---
layout: item.hbs
title: 'Event - Full'
category: 'View Mode'
tags: component
description: 'Event - Full Page'
showcode: true
---
<div class="ds-1col node node-event view-mode-full clearfix" typeof="sioc:Item foaf:Document" about="/biox/event/nina-test-delete">
  <div about="/biox/video/nina-test-video-delete" typeof="sioc:Item foaf:Document" class="ds-1col node node-stanford-video contextual-links-region view-mode-listing_expanded clearfix">
    <div class="field field-name-field-stanford-video-external field-type-text-long field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <iframe width="560" height="315" src="//www.youtube.com/embed/_Nq4Z5i7lcs" frameborder="0" allowfullscreen="">
          </iframe>
        </div>
      </div>
    </div>
    <div class="field field-name-title field-type-ds field-label-hidden">
      <div class="field-items">
        <div class="field-item even" property="dc:title">
          <h2>
            <a href="/biox/video/nina-test-video-delete">Nina Test Video - DELETE</a>
          </h2>
        </div>
      </div>
    </div>
    <div class="field field-name-field-key-person field-type-entityreference field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <div about="/biox/heideh-fattaey" typeof="sioc:Item foaf:Document" class="ds-1col node node-profile contextual-links-region view-mode-listing_simple clearfix">
            <div class="field field-name-field-first-name">Heideh</div>
            <div class="field field-name-field-last-name">Fattaey</div>
            <div class="field field-name-field-persons-title">Executive Director of Operations and Programs, Stanford Bio-X</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field-group-format group_details field-group-div group-details  speed-fast effect-none">
    <div class="field field-name-field-event-date field-type-datetime field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <span content="2015-01-23T09:30:00-08:00" datatype="xsd:dateTime" property="dc:date" class="date-display-single">January 23, 2015</span>
        </div>
      </div>
    </div>
    <div class="field field-name-field-location-name field-type-text field-label-hidden">
      <div class="field-items">
        <div class="field-item even">Clark Center Auditorium</div>
      </div>
    </div>
    <div class="field field-name-field-location-address field-type-text-long field-label-hidden">
      <div class="field-items">
        <div class="field-item even">318 Campus Drive West, Stanford, CA 94305</div>
      </div>
    </div>
    <div class="field field-name-field-event-type field-type-taxonomy-term-reference field-label-above">
      <div class="field-label">Event Type:&nbsp;</div>
      <div class="field-items">
        <div class="field-item even">
          <a property="rdfs:label skos:prefLabel" typeof="skos:Concept" href="/biox/event-type/symposium">Symposium</a>
        </div>
      </div>
    </div>
    <div class="field field-name-field-event-research-area field-type-entityreference field-label-above">
      <div class="field-label">Research Area:&nbsp;</div>
      <div class="field-items">
        <div class="field-item even">Seed Grants</div>
      </div>
    </div>
  </div>
  <div class="field field-name-field-feature-image field-type-image field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <img width="480" height="320" alt="" src="https://sites.stanford.edu/biox/sites/default/files/styles/large/public/13327-google_news.jpg" typeof="foaf:Image">
      </div>
    </div>
  </div>
  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div property="content:encoded" class="field-item even">
        <p>Microbially inspired solutions to challenges in medicine and in alternative energy</p>
        <p>
          <a rel="nofollow" href="http://neuroscience.jhu.edu/XinzhongDong.php">Jason Sello, Brown University</a>
        </p>
        <p>
          April 10th, 2014 at 3:15 PM in the Clark Center Auditorium
        </p>
      </div>
    </div>
  </div>
  <div class="field field-name-courses-and-workshops-link field-type-ds field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <div class="clearfix block block-bean" id="block-bean-classes-link">
          <div class="content"> <div class="ds-1col entity entity-bean bean-bio-x-block view-mode-default clearfix" typeof="" about="/biox/block/classes-link">
            <div class="field field-name-field-block-description field-type-text-long field-label-hidden">
              <div class="field-items">
                <div class="field-item even">
                  <p>
                    <a href="get-involved/students/courses-workshops" class="link--button">Courses and Workshops</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
