---
layout: item.hbs
title: 'List - Ruled'
category: 'Lists'
tags: component
description: 'List with horizontal rules between'
showcode: true
---
<ul class="list--ruled">
  <li class="list-item">
    <p>Row number 1</p>
  </li>
  <li class="list-item">
    <p>Row number 2</p>
  </li>
  <li class="list-item">
    <p>Row number 3</p>
  </li>
</ul>
