---
layout: item.hbs
title: 'List - Events'
category: 'Lists'
tags: component
description: 'List of Events'
showcode: true
---
<ul class="list--events">
  <li class="views-row-odd views-row-first list-item">
    <div class="views-field views-field-rendered-entity">
      <span class="field-content">
        <div class="ds-1col node node-event view-mode-listing_simple clearfix" typeof="sioc:Item foaf:Document" about="/biox/event/nina-test-delete">
          <div class="field field-name-field-event-date field-type-datetime field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                <span content="2015-01-23T09:30:00-08:00" datatype="xsd:dateTime" property="dc:date" class="date-display-single">January 23, 2015</span>
              </div>
            </div>
          </div>
          <div class="field field-name-title field-type-ds field-label-hidden">
            <div class="field-items">
              <div property="dc:title" class="field-item even">
                <h2>Nina Test - DELETE</h2>
              </div>
            </div>
          </div>
          <div class="field field-name-node-link field-type-ds field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                <a href="/biox/event/nina-test-delete">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </li>
  <li class="views-row-even list-item">
    <div class="views-field views-field-rendered-entity">
      <span class="field-content">
        <div class="ds-1col node node-event view-mode-listing_simple clearfix" typeof="sioc:Item foaf:Document" about="/biox/summer-series-2-delete">


          <div class="field field-name-field-event-date field-type-datetime field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                <span content="2014-02-12T09:15:00-08:00" datatype="xsd:dateTime" property="dc:date" class="date-display-single">February 12, 2014</span>
              </div>
            </div>
          </div>
          <div class="field field-name-title field-type-ds field-label-hidden">
            <div class="field-items">
              <div property="dc:title" class="field-item even">
                <h2>Summer Series 2 - delete</h2>
              </div>
            </div>
          </div>
          <div class="field field-name-node-link field-type-ds field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                <a href="/biox/summer-series-2-delete">Read more</a>
              </div>
            </div>
          </div>
        </div>

      </span>
    </div>
  </li>

  <li class="views-row-odd views-row-last list-item">
    <div class="views-field views-field-rendered-entity">
      <span class="field-content">
        <div class="ds-1col node node-event view-mode-listing_simple clearfix" typeof="sioc:Item foaf:Document" about="/biox/event/frontiers-interdisciplinary-biosciences-seminar">
          <div class="field field-name-field-event-date field-type-datetime field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                <span content="2014-01-16T15:15:00-08:00" datatype="xsd:dateTime" property="dc:date" class="date-display-single">January 16, 2014</span>
              </div>
            </div>
          </div>
          <div class="field field-name-title field-type-ds field-label-hidden">
            <div class="field-items">
              <div property="dc:title" class="field-item even">
                <h2>Frontiers in Interdisciplinary Biosciences Seminar</h2>
              </div>
            </div>
          </div>
          <div class="field field-name-node-link field-type-ds field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                <a href="/biox/event/frontiers-interdisciplinary-biosciences-seminar">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </li>
</ul>
