---
layout: item.hbs
title: 'Menu - Main'
category: 'Navigation'
tags: component
description: 'Main site navigation.'
showcode: true
---
<div id="main-menu" class="clearfix site-main-menu">
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
          <div class="nav-collapse collapse">
            <nav id="main-nav" role="navigation">
              <ul class="menu nav"><li class="first leaf"><a href="/biox/highlights">Highlights</a></li>
                <li class="collapsed"><a href="/biox/research">Research</a></li>
                <li class="expanded active-trail dropdown open"><a href="/biox/get-involved" class="active-trail dropdown-toggle" data-toggle="dropdown" data-target="#">Get Involved <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a href="/biox/get-involved/seminar-series">Seminar Series</a></li>
                <li class="leaf"><a href="/biox/get-involved/faculty">Faculty</a></li>
                <li class="collapsed"><a href="/biox/get-involved/students">Students</a></li>
                <li class="leaf"><a href="/biox/get-involved/alumni-friends">Alumni &amp; Friends</a></li>
                <li class="collapsed"><a href="/biox/get-involved/corporations">Corporations</a></li>
                <li class="last leaf active-trail active"><a href="/biox/get-involved/support" class="active-trail active">Support Bio-X</a></li>
              </ul></li>
              <li class="collapsed"><a href="/biox/events">Events</a></li>
              <li class="last collapsed"><a href="/biox/about">About</a></li>
            </ul>
            <!-- /#primary-menu -->
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
