---
layout: item.hbs
title: 'Menu - Footer'
category: 'Navigation'
tags: component
description: 'Main site navigation.'
showcode: true
---
<div class="clearfix block block-menu" id="block-menu-menu-footer">
  <div class="content">
    <ul class="menu nav">
      <li class="first leaf"><a title="" href="/biox/about/contact">Contact</a></li>
      <li class="leaf"><a title="" href="https://sites.stanford.edu/biox/about/faq">FAQ</a></li>
      <li class="last leaf"><a title="" href="https://sites.stanford.edu/biox/about/building-services/room-scheduling">Room Reservations</a></li>
    </ul>
  </div>
</div>
