---
layout: item.hbs
title: 'Menu - Local'
category: 'Navigation'
tags: component
description: 'Local section navigation.'
showcode: true
---
<div class="clearfix block block-menu-block" id="block-menu-block-1">
  <h2><a class="active-trail" href="/biox/get-involved">Get Involved</a></h2>
  <div class="content">
    <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-2">
      <ul class="menu nav">
        <li class="first leaf menu-mlid-1017"><a href="/biox/get-involved/seminar-series">Seminar Series</a></li>
        <li class="leaf menu-mlid-807"><a href="/biox/get-involved/faculty">Faculty</a></li>
        <li class="collapsed menu-mlid-809"><a href="/biox/get-involved/students">Students</a></li>
        <li class="leaf menu-mlid-811"><a href="/biox/get-involved/alumni-friends">Alumni &amp; Friends</a></li>
        <li class="expanded active-trail menu-mlid-939"><a class="active-trail dropdown-toggle" href="/biox/get-involved/corporations">Corporations</a>
          <ul class="">
            <li class="first expanded active-trail active menu-mlid-1079"><a class="active-trail dropdown-toggle active" href="/biox/get-involved/corporations/partnership-model">Partnership Models</a>
              <ul class="">
                <li class="first last leaf menu-mlid-1077"><a href="/biox/research/biostar-grant-program">BioSTAR Grant Program</a></li>
              </ul>
            </li>
            <li class="last leaf menu-mlid-1121"><a href="/biox/get-involved/corporations/corporate-forum-newsletter-archive">Corporate Forum Newsletter Archive</a></li>
          </ul>
        </li>
        <li class="last leaf menu-mlid-813"><a href="/biox/get-involved/support">Support Bio-X</a></li>
      </ul>
    </div>
  </div>
</div>
