---
layout: item.hbs
title: 'Profile - Simple Listing'
category: 'View Mode'
tags: component
description: 'Simple listing of profiles'
showcode: true
---
<div about="/biox/heideh-fattaey" typeof="sioc:Item foaf:Document" class="ds-1col node node-profile contextual-links-region view-mode-listing_simple clearfix">
  <div class="field field-name-field-first-name">Heideh</div>
  <div class="field field-name-field-last-name">Fattaey</div>
  <div class="field field-name-field-persons-title">Executive Director of Operations and Programs, Stanford Bio-X</div>
</div>
