---
layout: item.hbs
title: 'Site Name'
category: 'Header'
tags: component
description: 'Site Branding'
showcode: true
---
<div class="header">
  <div id="logo" class="site-logo">
    <a href="/biox/" title="Home" rel="home" style="border: none;"> <img src="https://sites.stanford.edu/biox/sites/default/files/logo_0.png" alt="Stanford Bio-x" role="presentation"> </a>
  </div>
  <div id="name-and-slogan">
    <div id="site-name" class="site-name"><a href="/biox/" title="Home" rel="home">Stanford Bio-x</a></div>
  </div>
</div>
