---
layout: item.hbs
title: 'Home Page Spotlight'
category: 'Molecule'
tags: layout
description: 'Spotlight on the home page.'
showcode: true
---
<div class="row-fluid main-top" id="main-top">
 <div class="region region-main-top clearfix">
  <div class="clearfix block block-bean block--pitch" id="block-bean-learn-more-home-page">
    <div class="content">
      <div class="ds-1col entity entity-bean bean-bio-x-block view-mode-default clearfix" typeof="" about="/biox/block/learn-more-home-page">
        <div class="field field-name-field-block-description field-type-text-long field-label-hidden">
          <div class="field-items">
            <div class="field-item even"><p>Bio-X combines faculty from a broad range of scientific and engineering disciplines by giving them the tools they need to succeed.</p>
            </div>
          </div>
        </div>
        <div class="field field-name-field-external-url field-type-link-field field-label-hidden">
          <div class="field-items">
            <div class="field-item even">
              <a href="/biox/biox"> Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix block block-views" id="block-views-f60c5dc737510a379a8343298623c557">
    <div class="content">
      <div class="view view-highlights view-id-highlights view-display-id-home_page_highlight_block view-dom-id-ff1cef14b2666c72f1698ba278916a35">
        <div class="view-content">
          <div>
            <div class="ds-1col node node-highlight view-mode-spotlight clearfix" typeof="sioc:Item foaf:Document" about="/biox/highlight/how-beta-amyloid-may-cause-alzheimers">
              <div class="field field-name-field-highlight-preview-image field-type-image field-label-hidden">
                <div class="field-items">
                  <div class="field-item even">
                    <a href="/biox/highlight/how-beta-amyloid-may-cause-alzheimers" style="border: medium none;"><img width="1360" height="474" alt="" src="https://sites.stanford.edu/biox/sites/default/files/styles/spotlight/public/shatz_carla-office.jpg" typeof="foaf:Image"></a>
                  </div>
                </div>
              </div>
              <div class="field field-name-title field-type-ds field-label-hidden">
                <div class="field-items">
                  <div property="dc:title" class="field-item even">
                    <h2><a href="/biox/highlight/how-beta-amyloid-may-cause-alzheimers">How Beta-Amyloid May Cause Alzheimer's</a></h2>
                  </div>
                </div>
              </div>
              <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                  <div property="content:encoded" class="field-item even">Scientists at the Stanford University School of Medicine have shown how a protein fragment known as beta-amyloid, strongly implicated in Alzheimer’s disease, begins destroying synapses before it clumps into plaques that lead to nerve cell death.
                  </div>
                </div>
              </div>
              <div class="field field-name-node-link field-type-ds field-label-hidden">
                <div class="field-items">
                  <div class="field-item even"><a href="/biox/highlight/how-beta-amyloid-may-cause-alzheimers">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /.region -->
</div>
