---
layout: item.hbs
title: 'Views - Filters'
category: 'Forms'
tags: component
description: 'Views exposed filters'
showcode: true
---
<div class="view-filters">
  <form accept-charset="UTF-8" id="views-exposed-form-events-past-events" method="get" action="/events/past-events">
    <div>
      <div class="views-exposed-form">
        <div class="views-exposed-widgets clearfix">
          <div class="views-exposed-widget views-widget-filter-field_event_type_tid" id="edit-field-event-type-tid-wrapper">
            <label for="edit-field-event-type-tid">Event Type</label>
            <div class="views-widget">
              <div class="form-item form-type-select form-item-field-event-type-tid">
               <div class="form-checkboxes bef-select-as-checkboxes">
                <div class="bef-checkboxes">
                  <div class="form-item form-type-bef-checkbox form-item-edit-field-event-type-tid-113">
                   <input type="checkbox" multiple="multiple" value="113" id="edit-field-event-type-tid-113" name="field_event_type_tid[]">
                   <label for="edit-field-event-type-tid-113" class="option">Call to Action</label>
                 </div>
                 <div class="form-item form-type-bef-checkbox form-item-edit-field-event-type-tid-111">
                   <input type="checkbox" multiple="multiple" value="111" id="edit-field-event-type-tid-111" name="field_event_type_tid[]">
                   <label for="edit-field-event-type-tid-111" class="option">Seminar</label>
                 </div>
                 <div class="form-item form-type-bef-checkbox form-item-edit-field-event-type-tid-115">
                   <input type="checkbox" multiple="multiple" value="115" id="edit-field-event-type-tid-115" name="field_event_type_tid[]">
                   <label for="edit-field-event-type-tid-115" class="option">Special Event</label>
                 </div>
                 <div class="form-item form-type-bef-checkbox form-item-edit-field-event-type-tid-107">
                   <input type="checkbox" multiple="multiple" value="107" id="edit-field-event-type-tid-107" name="field_event_type_tid[]">
                   <label for="edit-field-event-type-tid-107" class="option">Symposium</label>
                 </div>
                 <div class="form-item form-type-bef-checkbox form-item-edit-field-event-type-tid-109">
                   <input type="checkbox" multiple="multiple" value="109" id="edit-field-event-type-tid-109" name="field_event_type_tid[]">
                   <label for="edit-field-event-type-tid-109" class="option">Workshop</label>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="views-exposed-widget views-submit-button">
        <input type="submit" class="form-submit" value="Search" name="" id="edit-submit-events">
      </div>
    </div>
  </div>
</div>
</form>
</div>
