---
layout: item.hbs
title: 'View Mode - Simple Listing'
category: 'View Mode'
tags: component
description: 'Simple node listing'
showcode: true
---
<div class="ds-1col node node-event view-mode-listing_simple clearfix" typeof="sioc:Item foaf:Document" about="/biox/event/nina-test-delete">
  <div class="field field-name-field-event-date field-type-datetime field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <span content="2015-01-23T09:30:00-08:00" datatype="xsd:dateTime" property="dc:date" class="date-display-single">January 23, 2015</span>
      </div>
    </div>
  </div>
  <div class="field field-name-title field-type-ds field-label-hidden">
    <div class="field-items">
      <div property="dc:title" class="field-item even">
        <h2>Nina Test - DELETE</h2>
      </div>
    </div>
  </div>
  <div class="field field-name-node-link field-type-ds field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <a href="/biox/event/nina-test-delete">Read more</a>
      </div>
    </div>
  </div>
</div>
