---
layout: item.hbs
title: 'View Mode - Spotlight'
category: 'View Mode'
tags: component
description: 'Spotlight view mode.'
showcode: true
---
<div class="ds-1col node node-highlight view-mode-spotlight clearfix" typeof="sioc:Item foaf:Document" about="/biox/highlight/stanford-bio-x-researchers-develop-new-technology-study-hearing">
  <div class="field field-name-title field-type-ds field-label-hidden">
    <div class="field-items">
      <div property="dc:title" class="field-item even">
        <h2><a href="/biox/highlight/stanford-bio-x-researchers-develop-new-technology-study-hearing">Stanford Bio-X researchers develop new technology to study hearing</a></h2>
      </div>
    </div>
  </div>
  <div class="field field-name-field-highlight-preview-image field-type-image field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <a href="/biox/highlight/stanford-bio-x-researchers-develop-new-technology-study-hearing" style="border: medium none;"><img width="1360" height="474" alt="" src="https://sites.stanford.edu/biox/sites/default/files/styles/spotlight/public/ear_article_image.png" typeof="foaf:Image"></a>
      </div>
    </div>
  </div>
  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div property="content:encoded" class="field-item even">Stanford researchers have received Bio-X funding to develop a tiny moving probe to study the mechanical properties of sensory cells in the ear. Their research could lead to new treatments for hearing loss, and the probe may advance other scientists’ research as well.</div>
    </div>
  </div>
  <div class="field field-name-node-link field-type-ds field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <a href="/biox/highlight/stanford-bio-x-researchers-develop-new-technology-study-hearing">Read more</a>
      </div>
    </div>
  </div>
</div>
