---
layout: item.hbs
title: 'View Mode - Teaser Expanded'
category: 'View Mode'
tags: component
description: 'Expanded teaser listing'
showcode: true
---
<div class="ds-1col node node-event view-mode-teaser_expanded clearfix" typeof="sioc:Item foaf:Document" about="/biox/event/frontiers-interdisciplinary-biosciences-seminar-5">
  <div class="field field-name-title field-type-ds field-label-hidden">
    <div class="field-items">
      <div property="dc:title" class="field-item even">
        <h2><a href="/biox/event/frontiers-interdisciplinary-biosciences-seminar-5">Frontiers in Interdisciplinary Biosciences Seminar</a></h2>
      </div>
    </div>
  </div>
  <div class="field field-name-field-event-date field-type-datetime field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <span content="2014-04-10T15:15:00-07:00" datatype="xsd:dateTime" property="dc:date" class="date-display-single">April 10, 2014</span>
      </div>
    </div>
  </div>
  <div class="field field-name-field-location-name field-type-text field-label-hidden">
    <div class="field-items">
      <div class="field-item even">Clark Center Auditorium</div>
    </div>
  </div>
  <div class="field field-name-field-location-address field-type-text-long field-label-hidden">
    <div class="field-items">
      <div class="field-item even">James H. Clark Center 318 Campus Drive West, Stanford, CA 94305</div>
    </div>
  </div>
   <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div property="content:encoded" class="field-item even">Microbially inspired solutions to challenges in medicine and in alternative energy</div>
    </div>
  </div>
</div>
