/* line 4, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu {
  width: 100%;
}

/* general ul style */

/* line 9, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* first level ul style */

/* line 17, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu > ul,
.sg-hzmenu .sg-hzsub-inner {
  max-width: 64em;
  margin: 0 auto;
  padding: 0;
}

/* line 23, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu > ul {
  text-align: right;
}

/* line 27, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu .sg-hzsub-inner {
  text-align: left;
}

/* line 31, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu > ul > li {
  display: inline-block;
}

/* line 35, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu > ul > li > a {
  font-weight: 700;
  padding: 1em 2em;
  color: #999;
  display: inline-block;
}

/* line 42, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu > ul > li > a:hover {
  color: #2e2d29;
}

/* line 47, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu > ul > li.sg-hzopen a,
.sg-hzmenu > ul > li.sg-hzopen > a:hover {
  color: #fff;
  background: #2e2d29;
}

/* sub-menu */

/* line 53, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu .sg-hzsub {
  display: none;
  position: absolute;
  background: #2e2d29;
  width: 100%;
  left: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 63, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzopen .sg-hzsub {
  display: block;
}

/* line 67, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu .sg-hzsub-inner > div {
  width: 33%;
  float: left;
  padding: 0 20px 0;
}

/* line 74, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu .sg-hzsub-inner:before,
.sg-hzmenu .sg-hzsub-inner:after {
  content: " ";
  display: table;
}

/* line 79, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu .sg-hzsub-inner:after {
  clear: both;
}

/* line 83, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzmenu .sg-hzsub-inner > div a {
  line-height: 2em;
}

/* line 87, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

.sg-hzsub h4 {
  color: #afdefa;
  padding: 2em 0 0.6em;
  margin: 0;
  font-size: 160%;
  font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) {
  /* line 98, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

  .sg-hzmenu {
    font-size: 80%;
  }
}

@media screen and (max-width: 43em) {
  /* line 105, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

  .sg-hzmenu {
    font-size: 120%;
    border: none;
  }

  /* line 111, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

  .sg-hzmenu > ul,
  .sg-hzmenu .sg-hzsub-inner {
    width: 100%;
    padding: 0;
  }

  /* line 116, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

  .sg-hzmenu .sg-hzsub-inner {
    padding: 0 2em;
    font-size: 75%;
  }

  /* line 121, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

  .sg-hzmenu > ul > li {
    display: block;
    border-bottom: 4px solid #2e2d29;
  }

  /* line 126, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

  .sg-hzmenu > ul > li > a {
    display: block;
    padding: 1em 3em;
  }

  /* line 131, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

  .sg-hzmenu .sg-hzsub {
    position: relative;
  }

  /* line 135, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

  .sg-hzsub h4 {
    padding-top: 0.6em;
  }
}

@media screen and (max-width: 36em) {
  /* line 141, ../../../core/styles/sass/partials/_sg-hzmenu.scss */

  .sg-hzmenu .sg-hzsub-inner > div {
    width: 100%;
    float: none;
    padding: 0 2em;
  }
}

/* line 29, ../../../core/styles/sass/sg.scss */

.sg-masthead,
.sg-footer,
.sg-title,
.sg-subhead,
.sg-description,
.sg-label,
.sg-usage--compact > dt,
.sg-color-info,
.sg-font-size {
  color: #333333;
  font-family: sans-serif;
}

/* line 33, ../../../core/styles/sass/sg.scss */

.sg-masthead a,
.sg-footer a,
.sg-title a,
.sg-subhead a,
.sg-description a,
.sg-label a,
.sg-usage--compact > dt a,
.sg-color-info a,
.sg-font-size a {
  color: #666;
}

/* line 36, ../../../core/styles/sass/sg.scss */

.sg-masthead a:hover,
.sg-footer a:hover,
.sg-title a:hover,
.sg-subhead a:hover,
.sg-description a:hover,
.sg-label a:hover,
.sg-usage--compact > dt a:hover,
.sg-color-info a:hover,
.sg-font-size a:hover {
  color: #444;
}

/* line 46, ../../../core/styles/sass/sg.scss */

.sg-body {
  padding: 0;
}

/* line 50, ../../../core/styles/sass/sg.scss */

.sg-constrain {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 59, ../../../core/styles/sass/sg.scss */

.sg-masthead {
  position: relative;
  z-index: 9999;
  padding: 0 20px;
  border-bottom: 4px solid #333;
}

/* line 67, ../../../core/styles/sass/sg.scss */

.sg-site-title {
  font-size: 14px;
  margin: 18px 0;
  float: left;
  white-space: nowrap;
}

/* line 74, ../../../core/styles/sass/sg.scss */

.sg-site-client {
  font-size: 1em;
}

/* line 82, ../../../core/styles/sass/sg.scss */

.sg-main {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 91, ../../../core/styles/sass/sg.scss */

.sg-footer {
  padding: 20px;
  font-size: 12px;
  clear: both;
}

/* line 97, ../../../core/styles/sass/sg.scss */

.sg-footer address {
  display: inline;
}

/* line 106, ../../../core/styles/sass/sg.scss */

.sg-item-header {
  margin-bottom: 42px;
  border-bottom: #dddddd 1px solid;
}

/* line 111, ../../../core/styles/sass/sg.scss */

.sg-title {
  letter-spacing: -.03em;
  font-size: 36px;
  margin-top: 24px;
  margin-bottom: 12px;
}

/* line 119, ../../../core/styles/sass/sg.scss */

.sg-subhead {
  font-size: 24px;
  margin-bottom: 12px;
}

/* line 125, ../../../core/styles/sass/sg.scss */

.sg-description {
  font-size: 15px;
}

/* line 130, ../../../core/styles/sass/sg.scss */

.sg-label,
.sg-usage--compact > dt {
  font-size: 14px;
  margin-bottom: 42px;
  text-transform: uppercase;
  color: #999999;
}

/* line 142, ../../../core/styles/sass/sg.scss */

.sg-usage--compact {
  font-size: 12px;
}

/* line 146, ../../../core/styles/sass/sg.scss */

.sg-usage--compact > dt,
.sg-usage--compact > dd {
  display: inline;
}

/* line 150, ../../../core/styles/sass/sg.scss */

.sg-usage--compact > dt {
  font-size: 1em;
  font-weight: bold;
  margin-right: 6px;
}

/* line 156, ../../../core/styles/sass/sg.scss */

.sg-usage--compact > dt:after {
  content: ":";
}

/* line 161, ../../../core/styles/sass/sg.scss */

.sg-usage--compact > dd {
  margin-right: 24px;
  margin-left: 0;
}

/* line 171, ../../../core/styles/sass/sg.scss */

.sg-color {
  display: inline-block;
  width: 140px;
  margin-right: 18px;
  margin-bottom: 18px;
}

/* line 178, ../../../core/styles/sass/sg.scss */

.sg-color-swatch {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

/* line 184, ../../../core/styles/sass/sg.scss */

.sg-color-info {
  font-size: 12px;
}

/* line 189, ../../../core/styles/sass/sg.scss */

.sg-color-label {
  float: left;
  clear: left;
  color: #999999;
  text-transform: uppercase;
  width: 3.25em;
}

/* line 197, ../../../core/styles/sass/sg.scss */

.sg-color-def {
  float: left;
  margin: 0;
}

/* line 206, ../../../core/styles/sass/sg.scss */

.sg-font {
  margin-bottom: 60px;
}

/* line 210, ../../../core/styles/sass/sg.scss */

.sg-font-size {
  float: left;
  padding-top: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  width: 60px;
}

/* line 220, ../../../core/styles/sass/sg.scss */

.sg-font-sample {
  padding-top: 12px;
  padding-left: 60px;
  margin-bottom: 36px;
  border-top: 1px solid #dddddd;
  margin-left: 0;
}

/* line 228, ../../../core/styles/sass/sg.scss */

.sg-code {
  margin-top: 40px;
  padding: 0;
  font-size: 13px;
  overflow-x: scroll;
}

/* line 234, ../../../core/styles/sass/sg.scss */

.sg-code code {
  margin: 0;
  white-space: pre;
}

/* line 245, ../../../core/styles/sass/sg.scss */

[sg-layout-container] {
  clear: both;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: rgba(0, 0, 0, 0.2) solid 1px;
  min-height: 200px;
}

/* line 254, ../../../core/styles/sass/sg.scss */

[sg-layout-item] {
  background-color: rgba(0, 0, 255, 0.1);
  outline: rgba(0, 0, 0, 0.2) solid 1px;
  min-height: 200px;
}