@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \000034;
  }
}

#sg-menu-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -240px;
  width: 240px;
  height: 100%;
  background: #454545;
  font-family: sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \0000320;
  }
}

#sg-menu-container.is-open {
  right: 0px;
}

@media screen and (max-height: 26.375em) {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
    }

    line {
      font-family: \0000326;
    }
}

  #sg-menu-container {
    right: -190px;
    width: 190px;
    font-size: 90%;
  }
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \0000334;
  }
}

#sg-menu-toggle {
  position: absolute;
  top: 20px;
  right: 100%;
  width: 42px;
  height: 42px;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \0000347;
  }
}

.sg-menu {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \0000353;
  }
}

.sg-menu-label {
  color: #ddd;
  font-size: 14px;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #333;
  text-transform: uppercase;
  font-weight: bold;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \0000364;
  }
}

.sg-menu-list {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \0000369;
  }
}

.sg-menu-item {
  display: block;
  margin: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \0000374;
  }
}

.sg-menu-link {
  display: block;
  padding: 1em 20px;
  border-bottom: 1px solid #3c3c3c;
  color: #fff;
  font-size: .875em;
  font-weight: 300;
  text-decoration: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \0000383;
  }
}

.sg-menu-link:hover {
  background: #777;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/partials\/_sg-menu\.scss;
  }

  line {
    font-family: \0000387;
  }
}

.sg-menu-link:active {
  background: #afafaf;
  color: #47a3da;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000329;
  }
}

.sg-masthead,
.sg-footer,
.sg-title,
.sg-subhead,
.sg-description,
.sg-label,
.sg-usage--compact > dt,
.sg-color-info,
.sg-font-size {
  color: #333333;
  font-family: sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000333;
  }
}

.sg-masthead a,
.sg-footer a,
.sg-title a,
.sg-subhead a,
.sg-description a,
.sg-label a,
.sg-usage--compact > dt a,
.sg-color-info a,
.sg-font-size a {
  color: #666;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000336;
  }
}

.sg-masthead a:hover,
.sg-footer a:hover,
.sg-title a:hover,
.sg-subhead a:hover,
.sg-description a:hover,
.sg-label a:hover,
.sg-usage--compact > dt a:hover,
.sg-color-info a:hover,
.sg-font-size a:hover {
  color: #444;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000346;
  }
}

.sg-constrain {
  max-width: 1024px;
  margin: 0 auto;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000355;
  }
}

.sg-masthead {
  padding: 6px 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000360;
  }
}

.sg-site-title {
  font-size: 14px;
  margin: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000365;
  }
}

.sg-site-client {
  font-size: 1em;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000373;
  }
}

.sg-footer {
  padding: 20px;
  font-size: 12px;
  clear: both;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000379;
  }
}

.sg-footer address {
  display: inline;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000388;
  }
}

.sg-item-header {
  margin-bottom: 42px;
  border-bottom: #dddddd 1px solid;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \0000393;
  }
}

.sg-title {
  letter-spacing: -.03em;
  font-size: 36px;
  margin-top: 24px;
  margin-bottom: 12px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003101;
  }
}

.sg-subhead {
  font-size: 24px;
  margin-bottom: 12px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003107;
  }
}

.sg-description {
  font-size: 15px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003112;
  }
}

.sg-label,
.sg-usage--compact > dt {
  font-size: 14px;
  margin-bottom: 42px;
  text-transform: uppercase;
  color: #999999;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003124;
  }
}

.sg-usage--compact {
  font-size: 12px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003128;
  }
}

.sg-usage--compact > dt,
.sg-usage--compact > dd {
  display: inline;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003132;
  }
}

.sg-usage--compact > dt {
  font-size: 1em;
  font-weight: bold;
  margin-right: 6px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003138;
  }
}

.sg-usage--compact > dt:after {
  content: ":";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003143;
  }
}

.sg-usage--compact > dd {
  margin-right: 24px;
  margin-left: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003153;
  }
}

.sg-color {
  display: inline-block;
  width: 140px;
  margin-right: 18px;
  margin-bottom: 18px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003160;
  }
}

.sg-color-swatch {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003166;
  }
}

.sg-color-info {
  font-size: 12px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003171;
  }
}

.sg-color-label {
  float: left;
  clear: left;
  color: #999999;
  text-transform: uppercase;
  width: 3.25em;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003179;
  }
}

.sg-color-def {
  float: left;
  margin: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003188;
  }
}

.sg-font {
  margin-bottom: 60px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003192;
  }
}

.sg-font-size {
  float: left;
  padding-top: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  width: 60px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003202;
  }
}

.sg-font-sample {
  padding-top: 12px;
  padding-left: 60px;
  margin-bottom: 36px;
  border-top: 1px solid #dddddd;
  margin-left: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003215;
  }
}

[sg-layout-container] {
  clear: both;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: rgba(0, 0, 0, 0.2) solid 1px;
  min-height: 200px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/pixelwhip\/Sites\/style-guide\/src\/styles\/sg\.scss;
  }

  line {
    font-family: \00003224;
  }
}

[sg-layout-item] {
  background-color: rgba(0, 0, 255, 0.1);
  outline: rgba(0, 0, 0, 0.2) solid 1px;
  min-height: 200px;
}