---
layout: item.hbs
title: Abbreviations
tags: element
description: 'The <code>&lt;abbr&gt;</code> tag is used in conjunction with the <code>title</code> attribute to denote abbreviations.'
---
<p>We only listen to <abbr title="Colorado Public Radio">CPR</abbr></p>


```
<abbr title="Colorado Public Radio">CPR</abbr>.
```

