---
layout: item.hbs
title: 'Sample Article'
category: 'Article'
tags: component
description: 'The following is an example of an article using a variety HTML elements.'
---
<div class="article-body">
  <h1 class="page-title">Article Title (h1)</h1>
  <p class="intro">Intro Paragraph Style: It’s helpful to give your readers a quick introduction to the page.  That’s what this paragraph is all about.</p>
  <h2>Section Heading (h2)</h2>
  <p>Basic Paragraph Style: Lorem ipsum dolor si *45, consectetur adipisicin *75, sed do eiusmod *tempor incididunt ut labore et dolore magna aliqua.
  <em>This shows emphasis</em> while <strong>this shows strong</strong>. Do you want to see what a link looks like? <a href="http://example.com">This is a link</a>. That\' pretty neat! </p>
  <p><img src="http://placekitten.com/340/240" class="image-left"/>Ut enim ad minim veniam, quis nostrud exercitation nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <p><img src="http://placekitten.com/216/216" class="image-right"/>Ut enim ad minim veniam, quis nostrud exercitation nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <h3>Section Heading (h3)</h3>
  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  <h4>Section Heading (h4)</h4>
  <blockquote> Blockquote Style: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </blockquote>
  <p>Basic Paragraph Style: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, this is a link quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <h5>Section Heading (h5)</h5>
  <p>Lorem ipsum dolor sit amet, this is a visited link consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  <h6>Section Heading (h6)</h6>
  <p>Lorem ipsum dolor sit amet, this is a visited link consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  <ul>
    <li>Unordered list Style: Ut enim ad minim veniam.</li>
    <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
  </ul>
  <ol>
    <li>Unordered list Style: Ut enim ad minim veniam.</li>
    <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
  </ol>
</div>


```
<div>thing</div>
```

