---
layout: item.hbs
title: Blockquote
tags: element
description: 'Blockquotes are defined with the <code>&lt;blockquote&gt;</code> tag. They are used to show longer quotations or excerpts from other text. <i>Note: The following example shows a blockquote using the default green institutional color.  This color will be determined by the station in which the content appears.'
---
<blockquote><p>I have a theory that you can make any sentence seem profound by writing the name of a dead philosopher at the end of it.</p>
  <footer>Plato</footer>
  </blockquote>


```
Single Paragraph

<blockquote>...</blockquote>

Multiple Paragraphs

<blockquote>
  <p>...</p>
  <p>...</p>
</blockquote>

With Citation

<blockquote>
  <p>I have a theory...</p>
  <footer>Plato</footer>
</blockquote>
```

