---
title: Bold
description: The <code>&lt;b&gt;</code> tag is used to set a portion of text off stylistically.  It is used for keywords that are important, but not necessarily read aloud differently.
layout: item.hbs
tags: element
---
<p>Turn <b>left</b> at the corner.</p>

{{#markdown}}
```
<b>...</b>
```
{{/markdown}}
