---
title: Corrections
layout: item.hbs
description: 'The <code>&lt;del&gt;</code> tag is used in conjunction with the <code>&lt;ins&gt;</code> tag to denote corrections in articles after they have been published.'
tags: element
---
<p>It was confirmed that <del>Keith Moon</del> <ins>John Bonham</ins> was the better drummer.</p>

{{#markdown}}
```
<del>...</del><ins>...</ins>
```
{{/markdown}}
