---
title: Emphasis
description: The <code>&lt;em&gt;</code> tag is used to provide emphasis to text.  It is used for text that would be pronounced differently.
tags: element
layout: item.hbs
---
<p>We <em>had</em> to do something about it!</p>

{{#markdown}}
```
<em>...</em>
```
{{/markdown}}
