---
title: Strong Emphasis
description: The <code>&lt;strong&gt;</code> tag is used to provide strong emphasis to text.  It is used for text that would be pronounced with urgency.
tags: element
layout: item.hbs
---
<p><strong>Warning:</strong> I-25 is <strong>closed</strong> until further notice!</p>


```
<strong>...</strong>
```


