---
layout: item.hbs
title: Headings
tags: element
description: 'Heading tags <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code> are used to title new sections of content.  Note: <code>&lt;h1&gt;</code> is used for the title of an article and is automatically populated by the CMS. It is advised that you only use <code>&lt;h2&gt;</code> and below when authoring content.'
---
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

{{#markdown}}
```
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
```
{{/markdown}}
