---
title: Introduction
description: 'The <code>intro</code> class can be added to a <code>&lt;p&gt;</code> tag to create a larger body of text suitable if article summaries and introductions.'
tags: element
layout: item.hbs
---
<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Ut enim ad minim veniam.</p>


```
<p class="intro">...</p>
```

