---
layout: item.hbs
title: Italic
tags: element
description: The <code>&lt;i&gt;</code> tag is used to italicize text, such as movie titles, as well as to denote words that should be read in an alternate voice such as transliterated foreign words.
---
<p>It was a great <i>Cinco de Mayo</i> celebration!</p>

{{#markdown}}
```
<i>...</i>
```
{{/markdown}}
