---
layout: item.hbs
title: Link
tags: element
description: 'Links provide users a way to navigate from one page to another and are created with the <code>&lt;a&gt;</code> tag.'
---
<p>This is a <a href="#">inline link</a>.</p>

{{#markdown}}
```
<a href="http://...">...</a>
```
{{/markdown}}
