---
layout: item.hbs
title: List - Ruled
tags: element
description: 'Ruled lists can be created by applying a <code>list--ruled</code> class to <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> tags and the <code>list-item</code>class to each <code>&lt;li&gt;</code> within.'
---
<ul class="list--ruled">
  <li class="list-item">Unordered list Style: Ut enim ad minim veniam.</li>
  <li class="list-item">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
  <li class="list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
</ul>


```
<ul class="list--ruled">
  <li class="list-item">...</li>
  <li class="list-item">...</li>
  <li class="list-item">...</li>
</ul>
```

