---
title: Pager
description: Pagers are used to navigate between lists of content too long to fit on a single page.
layout: item.hbs
tags: component
---
<div class="item-list">
  <ul class="pager">
    <li class="pager-first first"><a href="#">first</a></li>
    <li class="pager-previous"><a href="#">previous</a></li>
    <li class="pager-item"><a title="Go to page 1" href="#">1</a></li>
    <li class="pager-current"><span>2</span></li>
    <li class="pager-item"><a title="Go to page 3" href="#">3</a></li>
    <li class="pager-item"><a title="Go to page 4" href="#">4</a></li>
    <li class="pager-item"><a title="Go to page 5" href="#">5</a></li>
    <li class="pager-item"><a title="Go to page 6" href="#">6</a></li>
    <li class="pager-ellipsis">…</li>
    <li class="pager-next"><a href="#">next</a></li>
    <li class="pager-last last"><a href="#">last</a></li>
  </ul>
</div>

```
<div class="item-list">
  <ul class="pager">
    <li class="pager-first first"><a href="#">first</a></li>
    <li class="pager-previous"><a href="#">previous</a></li>
    <li class="pager-item"><a title="Go to page 1" href="#">1</a></li>
    <li class="pager-current"><span>2</span></li>
    <li class="pager-item"><a title="Go to page 3" href="#">3</a></li>
    <li class="pager-ellipsis">…</li>
    <li class="pager-next"><a href="#">next</a></li>
    <li class="pager-last last"><a href="#">last</a></li>
  </ul>
</div>
```

