---
layout: item.hbs
title: Table - Borderless
tags: element
description: 'Add the <code>table--borderless</code> class to the table element.'
---
<table class="sticky-header has-table-ruler" style="position: fixed; top: 132px; left: 229.984375px; visibility: hidden;"><thead style=""><tr><th>Turpis magna mattis</th><th>Consequat gravida in</th><th>Neque vulputate magna</th><th>Sit aliquam lorem</th><th>Et sed urna</th> </tr></thead></table><table class="table--borderless sticky-enabled tableheader-processed sticky-table has-table-ruler">
<caption>lacinia nec aliquam</caption>
 <thead><tr><th>Turpis magna mattis</th><th>Consequat gravida in</th><th>Neque vulputate magna</th><th>Sit aliquam lorem</th><th>Et sed urna</th> </tr></thead>
<tbody>
 <tr class="odd"><td>Iaculis velit neque</td><td>Turpis massa pellentesque</td><td>In nec amet</td><td>Iaculis consectetur erat</td><td>Lorem nam ac</td> </tr>
 <tr class="even"><td>Sed massa convallis</td><td>Gravida nam et</td><td>A et euismod</td><td>Pellentesque adipiscing dui</td><td>Vestibulum a eros</td> </tr>
 <tr class="odd"><td>Sed dignissim nisl</td><td>Fusce nisl egestas</td><td>Consectetur nec erat</td><td>Egestas lacinia ac</td><td>Dui dignissim eget</td> </tr>
 <tr class="even"><td>Ac felis magna</td><td>Elementum convallis ac</td><td>Turpis ac mi</td><td>Dui et venenatis</td><td>Feugiat et erat</td> </tr>
 <tr class="odd"><td>Ac cras iaculis</td><td>Neque neque lacus</td><td>Velit elit iaculis</td><td>Tortor aliquam et</td><td>Iaculis pellentesque duis</td> </tr>
</tbody>
</table>

```
<table class="table--borderless">...</table>
```
