---
layout: default.hbs
---
<h1 class="styleguide-title">{{title}}</h1>
<p class="styleguide-description">{{{description}}}</p>
<div class="styleguide-item article-body">
{{#markdown}}
{{body}}
{{/markdown}}
</div>

{{#if showcode}}
<pre><code>
{{{ decode this.page.page}}}
</code></pre>
{{/if}}

{{> variants}}
