---
layout: default.hbs
---
<header class="sg-item-header">
  <h1 class="sg-title">{{title}}</h1>
  <p class="sg-description">{{{description}}}</p>
</header>
<div class="sg-item">
  <h3 class="sg-label">Example</h3>
{{#markdown}}
{{body}}
{{/markdown}}
</div>

{{#if showcode}}
<pre><code>
{{{ decode this.page.page}}}
</code></pre>
{{/if}}

{{> variants}}
