//
// @file
// Button and link styles.
// ---------------------------------------------------------------------------
@mixin button {
  @include inline-block;

  &:hover {
    text-decoration: none;
  }
}

// Button sizes
// ---------------------------------------------------------------------------
@mixin button--tiny {
  padding: rhythm(.25, $fs-xxs) 6px;
  @include adjust-font-size-to($fs-xxs);
}

@mixin button--small {
  padding: rhythm(.5, $fs-xxs) 10px;
  @include adjust-font-size-to($fs-xxs);
}

@mixin button--medium {
  padding: rhythm(.5, $fs-l) 13px;
  @include adjust-font-size-to($fs-m, 4);
}

@mixin button--large {
  padding: rhythm(1, $fs-l) 18px;
  @include adjust-font-size-to($fs-l);
  @include border-radius($radius-m);
}

// Button colors
// ---------------------------------------------------------------------------
@mixin button--primary {
  background-color: $red;
  color: $white;

  &,
  &:hover {
    @include dis-gradient;
  }

  &:hover {
    background-color: $red-light;
  }

  &:active {
    background-color: $red-lighter;
  }
}

@mixin button--secondary {
  background-color: $clr-btn--secondary;

  &:hover {
  }

  &:active {
  }
}

// Button icons
// ---------------------------------------------------------------------------
@mixin button-icon($x-size: 18px, $y-size: 18px) {
  content: '';
  position: relative;
  width: $x-size;
  height: $y-size;
  @include inline-block;
}

@mixin button-icon--before {
  &:before {
    top: -1px;
    @include button-icon();
  }
}

@mixin button-icon--after {
  &:after {
    top: -1px;
    @include button-icon();
  }
}
