//
// @file
// Page layout styles.
//
// This file should contain the global layout styles for how regions
// relate to one another on a given page.
// ----------------------------------------------------------------------------

%container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include breakpoint(max-width 767px) {
    width: auto;
  }

  @include breakpoint(768px 979px) {
    width: 764px;
  }

  @include breakpoint(1200px) {
    width: 1200px;
  }
}

%container--full-bleed {
  @include breakpoint(768px) {
    padding-left: 0;
    padding-right: 0;
  }
}
