//
// @file
// Header region styles.
// ----------------------------------------------------------------------------

// Header region
#header {
  @include clearfix;
  padding: 0;
  margin: rhythm(4) 0;

  > .container {
    position: relative;
  }
}

// Branding component
#branding {
  float: left;
}

#header-content {
  @include breakpoint(480px) {
    position: absolute;
    top: 6px;
    right: 0;
    width: auto;

    .block--utility {
      float: right;
    }
  }

  @include breakpoint(661px) {
    top: 21px;

    .block--utility {
      float: right;
    }
  }
}
