//
// @file
// Footer region styles.
// ----------------------------------------------------------------------------

// Footer region
#footer {
  @include clearfix;
  padding: rhythm(4) 0;
  background-color: $gray-darker;
  margin-top: 0;

  @include breakpoint(980px) {
    #block-menu-menu-footer {
      float: right;
      margin-top: 22px;
    }

    .block--contact-info {
      float: left;
    }
  }
}
